<form
  action="/products"
  method="post"
  enctype="application/x-www-form-urlencoded">
  <label for="fname">Title:</label><br />
  <input
    type="text"
    id="fname"
    name="title" /><br />
  <label for="lname">Thumbnail:</label><br />
  <input
    type="text"
    id="lname"
    name="thumbnail" /><br /><br />
  <label for="price">price:</label><br />
  <input
    type="text"
    id="price"
    name="price" /><br /><br />
  <label for="category">category:</label><br />
  <input
    type="text"
    id="category"
    name="category" /><br /><br />
  <input
    type="submit"
    value="Submit" />
</form>
